html
{
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100%;
    margin: 0px;
}

body
{
    color: rgb(255,255,255);
    font-family: monospace;
    min-height: 100%;
    margin: 0px;
}

::-webkit-scrollbar 
{ width: 10px; }

/* Track */
::-webkit-scrollbar-track 
{ background: #200829; }

/* Handle */
::-webkit-scrollbar-thumb 
{ background: #C00384; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{ background: #F10080 }

table
{
    box-shadow: 0px 0px 5px #8B0D88;
    border: 1px solid #F10080;
    border-collapse: collapse;
    text-transform: uppercase;
    margin-right: auto;
    text-align: center;
    margin-left: auto;
    width: 100%;
}

th
{
    background-image: linear-gradient(45deg,#8B0D88,#C00384,#8B0D88);
    font-size: 2.5vh;
    padding: 2vh;
    height: 4vh;
}

td
{
    background-image: linear-gradient(45deg,#034EA2,#303A99,#034EA2);
    line-height: 150%;
    font-size: 2.5vh;
    padding: 1.5vh;
    height: 4vh;
}

mark
{
    background-color: rgba(139, 13, 136, 0.5);
    border-right: 2px solid #F10080;
    border-left: 2px solid #F10080;
    box-shadow: 0px 0px 5px #F10080;
    padding: 0vh 1vh 0vh 1vh;
    color: #FFFFFF;
}

.toc
{
    border: 0px solid rgb(0, 0, 0);
    padding-bottom: 0vh;
    padding-right: 1vh;
    padding-left: 5vh;
    padding-top: 1vh;
    font-size: 2.5vh;
    text-align: left;
}

.toc-link
{
    background-color: rgba(139, 13, 136, 0);
    border-right: 0px solid #F10080;
    box-shadow: 0px 0px 0px #F10080;
    border-left: 0px solid #F10080;
    transition: 0.15s linear;
    padding: 0vh 0vh 0vh 0vh;
    text-decoration: none;
    font-weight: 800;
    color: #F10080;
    width: 100%;
}

.toc-link:hover
{
    background-color: rgba(139, 13, 136, 0.5);
    border-right: 2px solid #F10080;
    box-shadow: 0px 0px 5px #F10080;
    border-left: 2px solid #F10080;
    transition: 0.15s linear;
    padding: 0vh 1vh 0vh 1vh;
    color: #FFFFFF;
}

.grid-container
{
    grid-template-columns: auto 75% auto;
    min-height: 100%;
    display: grid;
    margin: 0px;
}

.body-container
{
    box-shadow: 0px 0px 10px 0px #F10080;
    grid-template-rows: 8vh auto 8vh;
    display: grid;
}

.header
{
    background-image: linear-gradient(-45deg,#200829,#290C34,#200829);
    border-bottom: 1vh solid #F10080;
    z-index: 1;
    padding: 0;
}

.header-title
{
    margin-left: 2vh;
    margin-top: 1vh;
    font-size: 5vh;
}

.body
{
    background-image: linear-gradient(180deg,rgba(3, 78, 162, 0.5),rgba(94, 35, 144, 0.5));
    padding: 0;
}

.button
{
    background-color: #303A99;
    color: rgb(255, 255, 255);
    transition: 0.15s linear;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    font-size: 2.5vh;
    border-top: 0px;
    height: 100%;
    width: 100%;
}

.button:hover
{
    background-color: #034EA2;
    transition: 0.15s linear;
}

.body-header
{
    background-image: linear-gradient(-45deg,#200829,#290C34,#200829);
    border-bottom: 1vh solid #F10080;
    border-top: 0.5vh solid #F10080;
    height: 6vh;
}

.body-header-text
{
    padding-top: 0.5vh;
    padding-left: 2vh;
    font-size: 4vh;
}

.body-text
{
    background-image: linear-gradient(-45deg,#200829,#290C34,#200829);
    box-shadow: 0px 0px 10px #141414;
    border: 1px solid #8B0D88;
    text-align: justify;
    line-height: 200%;
    font-size: 2.5vh;
    width: inherit;
    padding: 2vh;
    margin: 2vh;
}

.body-calculator
{
    margin-right: auto;
    margin-left: auto;
    display: grid;
    width: 100%;
}

.form-calculator
{
    grid-template-columns: 75% auto;
    border: 1px solid #F10080;
    display: grid;
}

.input-expressions
{
    border: 0vw solid rgb(55, 55, 55);
    border-radius: 0px;
    text-align: center;
    font-size: 3vh;
    width: 100%;
    height: 5vh;
}

.input-expressions:focus
{
    border: 0vh solid rgb(0, 0, 0);
}

.input-clear
{
    background-image: linear-gradient(-45deg,#C00384,#F10080,#C00384);
    color: rgb(255, 255, 255);
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    font-size: 3vh;
}

.footer
{
    background-image: linear-gradient(-45deg,#200829,#290C34,#200829);
    border-top: 1vw solid #F10080;
    padding: 0;
}

@media (pointer:none), (pointer:coarse)
{
    body
    {
        width: auto;
    }
    
    th
    {
        font-size: 2.5vw;
        padding: 0.5vw;
        height: 10vw;
    }

    td
    {
        font-size: 2vw;
        padding: 0.5vw;
        height: 10vw;
    }

    mark
    {
        padding: 0vw 1vw 0vw 1vw;
    }
    
    ::-webkit-scrollbar 
    { width: 6px; }

    .toc
    {
        font-size: 2vw;
    }
    
    .grid-container
    {
        grid-template-columns: 0% 100% 0%;
        height: 100%;
    }

    .header
    {
        padding: 0;
    }
    
    .header-title
    {
        text-align: center;
        margin-left: 0vw;
        margin-top: 1vw;
    }
    
    .body
    {
        padding: 0;
    }

    .body-header
    {
        height: 7vw;
    }
    
    .body-header-text
    {
        text-align: center;
        padding-left: 0vh;
        font-size: 4vw;
    }
    
    .body-text
    {
        font-size: 3vw;
    }

    .input-clear
    {
        border-bottom: 0px;
        border-right: 0px;
        border-left: 0px;
        border-top: 0px;
        font-size: 3vw;
    }
    
    .footer
    {
        padding: 0;
    }
}